{% extends "header.html" %}
{% block content %}
 <!-- inner banner -->
 <section class="w3l-inner-banner-main">
   <div class="about-inner inner2">
     <div class="container seen-w3">
       <h3 class="inner-title">About Us</h3>
       <ul class="breadcrumbs-custom-path">
         <li><a href="/">Home</a></li>
         <li><span class="fa fa-angle-right" aria-hidden="true"></span></li>
         <li class="active">About Page</li>
       </ul>
     </div>
   </div>
 </section>
 <!-- //inner banner -->
<!-- about block 1 -->
<section class="w3l-about py-5" id="about">
  <div class="about-bottom py-md-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 pr-xl-4">
          <p class="css-typing sub-title-top text-bl mb-3">Welcome To Our Website !</p>
          <h3 class="title-w3-ab"><span>Windows & Doors</span> Professionals and Best Quality Services & Excellent
            Work!
          </h3>
        </div>
        <div class="col-lg-6 offset-lg-1 pr-lg-4 mt-lg-0 mt-4 about-right-mo">
          <p>M/s. S-QUBE - Wholesale Trader of architectural hardware,
           toughened glasses & glass work service since 2017 in Kannur, Kerala.</p>
          <p class="mt-4">S-QUBE  Glass & Hardware is dealing with sales of Glass and all Hardware Accessories. 
          We provides the highest quality products to meet the needs of its customers. Dedicated to providing high-quality products and services on schedule.
           To provide our valued customers with reliable services.</p>
          <a href="/services/" class="button raised hoverable btn">
            <div class="anim"></div><span>Read More</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //about block 1 -->
<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
        <!---728x90--->

    </div>
<!-- about block 3 -->
<section class="about-block-3 py-5">
  <div class="grids-w3ovt py-md-3" id="what">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-md-0 mb-5">
          <h6 class="top-grid-text text-uppercase"><label>01.</label>single & double hung</h6>
          <h3 class="grid-one-text mt-2 mb-4">Architectural Hardware</h3>
          <p>Supported ourselves with proficient amenities, we are readily instrumental in providing an inclusive variety of Toughened Glass Partition. Features: Specifically designed Long lasting Reliable High finish</p>
        </div>
        <div class="col-md-4 mb-md-0 mb-5">
          <h6 class="top-grid-text text-uppercase"><label>02.</label>decorative</h6>
          <h3 class="grid-one-text mt-2 mb-4">Toughened Glasses</h3>
          <p>We are Expert in Office Partition ,Bathroom Partition ,Fixed glass work ,Pargola</p>
        </div>
        <div class="col-md-4">
          <h6 class="top-grid-text text-uppercase"><label>03.</label>horizontal slider</h6>
          <h3 class="grid-one-text mt-2 mb-4">Glass Work Service</h3>
          <p>With a firm commitment to quality, our organization is engaged in offering a wide ambit of Bathroom Shower Glass Partition.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //about block 3 -->
<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
        <!---728x90--->

    </div>
<section class="about-block-section">
  <div class="slider-effest  py-5" id="latest">
    <div class="container  py-md-3">
      <div class="row">
        <div class="col-md-6 pr-lg-5">
          <div class="midd-slider">
            <div class="csslider infinity" id="slider1">
              <input type="radio" name="slides" checked="checked" id="slides_1" />
              <input type="radio" name="slides" id="slides_2" />
              <input type="radio" name="slides" id="slides_3" />
              <input type="radio" name="slides" id="slides_4" />
              <ul>
                <li>
                  <div class="slider-info">
                    <img src="/static/images/image1.jpg" alt="" class="img-fluid" />
                  </div>
                </li>
                <li>
                  <div class="slider-info">
                    <img src="/static/images/image2.jpg" alt="" class="img-fluid" />
                  </div>
                </li>
                <li>
                  <div class="slider-info">
                    <img src="/static/images/image3.jpg" alt="" class="img-fluid" />
                  </div>
                </li>
                <li>
                  <div class="slider-info">
                    <img src="/static/images/image6.jpg" alt="" class="img-fluid" />
                  </div>
                </li>
              </ul>
              <div class="navigation">
                <div>
                  <label for="slides_1"></label>
                  <label for="slides_2"></label>
                  <label for="slides_3"></label>
                  <label for="slides_4"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-lg-0 mt-5 pt-lg-0 pt-2">
          <p class="sub-title-top text-bl mb-lg-3 mb-1">WINDOW SERVICES</p>
          <h3 class="title-w3-ab mb-3">Explore Premium Windows</h3>
          <p class="mt-lg-4">Suspendisse nec diam sit amet mauris bibendum sollicitudin. In libero nunc, feugiat laoreet
            nisi
            ac, rutrum venenatis felis. Donec at elit ullamcorper, pretium ligula ac.</p>
          <a href="/portfolio/" class="button raised hoverable btn">
            <div class="anim"></div><span>Our Portfolio</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- team block -->
<section class="w3l-team py-5">
  <div class="sub-team py-md-3">
    <div class="container">
      <div class="heading text-center mx-auto">
        <h3 class="head">Our Team </h3>
        <p class="my-3 head"> Estibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
          Nulla mollis dapibus nunc, ut rhoncus
          turpis sodales quis.</p>
      </div>
      <div class="row inner-sec-w3layouts mt-md-5 mt-4">
        <div class="col-md-4 text-center">
          <div class="team-grids">
            <a href="team-single.html">
              <img src="/static/images/team1.jpg" class="img-fluid" alt="">
              <div class="team-info">
                <div class="caption mb-3">
                  <h4>John Doe</h4>
                </div>
                <div class="social-icons-section">
                  <a class="fac" href="#facebook">
                    <span class="fa fa-facebook"></span>
                  </a>
                  <a class="twitter mx-2" href="#twitter">
                    <span class="fa fa-twitter"></span>
                  </a>
                  <a class="google" href="#google-plus">
                    <span class="fa fa-google-plus"></span>
                  </a>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 mt-md-4 my-md-0 my-4 text-center">
          <div class="team-grids">
            <a href="team-single.html">
              <img src="/static/images/team2.jpg" class="img-fluid" alt="">
              <div class="team-info">
                <div class="caption mb-3">
                  <h4>Adam Ster</h4>
                </div>
                <div class="social-icons-section">
                  <a class="fac" href="#facebook">
                    <span class="fa fa-facebook"></span>
                  </a>
                  <a class="twitter mx-2" href="#twitter">
                    <span class="fa fa-twitter"></span>
                  </a>
                  <a class="google" href="#google-plus">
                    <span class="fa fa-google-plus"></span>
                  </a>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="team-grids">
            <a href="team-single.html">
              <img src="/static/images/team3.jpg" class="img-fluid" alt="">
              <div class="team-info">
                <div class="caption mb-3">
                  <h4>Chris Tina</h4>
                </div>
                <div class="social-icons-section">
                  <a class="fac" href="#facebook">
                    <span class="fa fa-facebook"></span>
                  </a>
                  <a class="twitter mx-2" href="#twitter">
                    <span class="fa fa-twitter"></span>
                  </a>
                  <a class="google" href="#google-plus">
                    <span class="fa fa-google-plus"></span>
                  </a>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- team block -->
<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
        <!---728x90--->

    </div>
{% endblock %}