{% extends "header.html" %}
{% block content %}
 <!-- inner banner -->
 <section class="w3l-inner-banner-main">
   <div class="about-inner inner2">
     <div class="container seen-w3">
       <h3 class="inner-title">Faq Page</h3>
       <ul class="breadcrumbs-custom-path">
         <li><a href="index.html">Home</a></li>
         <li><span class="fa fa-angle-right" aria-hidden="true"></span></li>
         <li class="active">Faq Page</li>
       </ul>
     </div>
   </div>
 </section>
 <!-- //inner banner -->
 <div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
        <!---728x90--->

    </div>
 <!-- faq page -->
 <div class="w3l-faq-main py-5">
   <div class="faq-sec sec-padding py-md-5">
     <div class="container">
       <!-- faq -->
       <div class="row faq-cont">
         <div class="col-md-8 about-right-faq">
           <div class="bg-warning text-dark"><b>Warning:</b> Please, look at the answers before
             contacting.</div>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit sodales arcu
             quis
             vulputate. Nulla ullamcorper risus sit amet condimentum accumsan. Mauris tempus enim eu
             lorem
             eleifend blandit.</p>
           <p class="mt-3">Suspendisse porta erat sit amet eros sagittis, quis hendrerit
             libero aliquam. Fusce semper augue ac dolor efficitur.</p>
           <!-- //faq -->
           <!-- accordions -->
           <div class="sub-accor">
             <h3 class="title-w3-ab text-uppercase mt-5 mb-4">Frequently asked questions</h3>
             <ul class="accordion css-accordion">
               <li class="accordion-item">
                 <input class="accordion-item-input" type="checkbox" name="accordion" id="item2" checked />
                 <label for="item2" class="accordion-item-hd">Lorem ipsum dolor sit amet? <span
                     class="accordion-item-hd-cta">&#9650;</span></label>
                 <div class="accordion-item-bd accordion-item-bd-2">
                   <h6 class="accordion-textm">Dolores et ea rebum lorem ipsum</h6>
                   <p>Duo dolores et ea rebum. Lorem ipsum dolor sit ametLorem ipsum
                     dolor sit amet,sed diam nonumy. Consectetur adipiscing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua.</p>
                 </div>
               </li>
               <li class="accordion-item">
                 <input class="accordion-item-input" type="checkbox" name="accordion" id="item1" />
                 <label for="item1" class="accordion-item-hd">At vero eos et accusamus et iusto odio
                   dignissimos ducimus? <span class="accordion-item-hd-cta">&#9650;</span></label>
                 <div class="accordion-item-bd">
                   <h6 class="accordion-textm">Nemo enim ipsam volup tatem</h6>
                   <p>Sodales quis.At vero eos et accusam et justo duo dolores et ea rebum. Lorem
                     ipsum
                     dolor sit ametLorem ipsum dolor sit amet,sed diam nonumy. Consectetur
                     adipiscing
                     elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                 </div>
               </li>
               <li class="accordion-item">
                 <input class="accordion-item-input" type="checkbox" name="accordion" id="item5" />
                 <label for="item5" class="accordion-item-hd">Vitae diam rutrum condimentum? <span
                     class="accordion-item-hd-cta">&#9650;</span></label>
                 <div class="accordion-item-bd">
                   <h6 class="accordion-textm">Totam rem aperiam, eaque ipsa quae</h6>
                   <p>Duo dolores et ea rebum. Lorem ipsum dolor sit ametLorem ipsum
                     dolor sit amet,sed diam nonumy. Consectetur adipiscing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua.</p>
                 </div>
               </li>
               <li class="accordion-item">
                 <input class="accordion-item-input" type="checkbox" name="accordion" id="item3" />
                 <label for="item3" class="accordion-item-hd">Quos dolores et quas
                   molestias excepturi sint?
                   <span class="accordion-item-hd-cta">&#9650;</span></label>
                 <div class="accordion-item-bd">
                   <h6 class="accordion-textm">Sunt in culpa qui officia deserunt</h6>
                   <p>sodales quis. At vero eos et accusam et justo duo dolores et ea rebum. Lorem
                     ipsum dolor sit ametLorem ipsum dolor sit amet,sed diam nonumy. Consectetur
                     adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                     dolore magna aliqua.</p>
                 </div>
               </li>
               <li class="accordion-item">
                 <input class="accordion-item-input" type="checkbox" name="accordion" id="item4" />
                 <label for="item4" class="accordion-item-hd">Dolores et quas molestias excepturi
                   sint?<span class="accordion-item-hd-cta">&#9650;</span></label>
                 <div class="accordion-item-bd">
                   <h6 class="accordion-textm">Ut enim ad minim veniam, quis</h6>
                   <p>Sodales quis at vero eos et accusam et justo duo dolores et ea rebum. Lorem
                     ipsum
                     dolor sit ametLorem ipsum dolor sit amet,sed diam nonumy. Consectetur
                     adipiscing
                     elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                 </div>
               </li>
             </ul>
             <!-- //accordions -->
           </div>
         </div>
         <div class="col-md-4 mt-md-0 mt-4 banner-form-w3 sticky-top">
           <!-- register form -->
           <form action="#" method="post">
             <h5 class="title-w3-ab">Send new question</h5>
             <div class="form-style-w3ls">
               <input class="form-control" placeholder="Name" name="name" type="text" required="">
               <input class="form-control" placeholder="Email" name="email" type="email" required="">
               <textarea class="form-control mb-0" placeholder="Your Question" required=""></textarea>
               <button type="submit" class="button raised hoverable">
                 <div class="anim"></div><span>Send</span>
               </button>
             </div>
           </form>
           <!-- //register form -->
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- //faq -->
 <div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
        <!---728x90--->

    </div>
{% endblock %}