{% extends "header.html" %}
{% block content %}
 <!-- inner banner -->
 <section class="w3l-inner-banner-main">
   <div class="about-inner inner2">
     <div class="container seen-w3">
       <h3 class="inner-title">Pricing Page</h3>
       <ul class="breadcrumbs-custom-path">
         <li><a href="index.html">Home</a></li>
         <li><span class="fa fa-angle-right" aria-hidden="true"></span></li>
         <li class="active">Pricing Page</li>
       </ul>
     </div>
   </div>
 </section>
 <!-- //inner banner -->
 <div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
        <!---728x90--->

    </div>
<section class="w3l-pricing-7">
  <div class="w3l-pricing-7_sur">
    <div class="container">
      <div class="row w3l-pricing-7-gd-top pt-4">
        <div class="col-lg-4 col-md-6 w3l-pricing-7-gd-left">
          <div class="w3l-pricing-7  pric-7-1">
            <div class="w3l-pricing-7-top">
              <h6>Basic</h6>
              <h3 class="title-sub"><label>$</label>100<span>/mo</span></h3>
            </div>
            <div class="w3l-pricing-7-bottom">
              <div class="w3l-pricing-7-bottom-bottom">
                <ul class="links">
                  <li class="tick-info">
                    <span class="fa fa-check" aria-hidden="true"></span>Lorem ipsum
                    dolor
                  </li>
                  <li class="tick-info">
                    <span class="fa fa-check" aria-hidden="true"></span>Sit amet,
                    consectetu
                  </li>
                  <li class="tick-info">
                    <span class="fa fa-check" aria-hidden="true"></span>Unde omnis iste
                    natus
                  </li>
                  <li class="tick-info disable">
                    <span class="fa fa-times" aria-hidden="true"></span>Dolore magna
                    aliqua
                  </li>
                  <li class="tick-info disable">
                    <span class="fa fa-times" aria-hidden="true"></span>Integer et augue
                  </li>
                </ul>
              </div>
              <div class="buy-button">
                 <a href="login.html" class="button raised hoverable w-100 btn-normal">
                  <div class="anim"></div><span>Get Started</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-md-0 mt-4 w3l-pricing-7-gd-left active">
          <div class="w3l-pricing-7 pric-7 active">
            <div class="w3l-pricing-7-top">
              <h5>Popular</h5>
              <h6>Standard</h6>
              <h3 class="title-sub"><label>$</label>300<span>/mo</span></h3class="title-sub">
            </div>
            <div class="w3l-pricing-7-bottom">
              <div class="w3l-pricing-7-bottom-bottom">
                <ul class="links">
                  <li class="tick-info">
                    <span class="fa fa-check" aria-hidden="true"></span>Lorem ipsum
                    dolor
                  </li>
                  <li class="tick-info">
                    <span class="fa fa-check" aria-hidden="true"></span>Sit amet,
                    consectetu
                  </li>
                  <li class="tick-info">
                    <span class="fa fa-check" aria-hidden="true"></span>Sed do eiusmod
                    tempor
                  </li>
                  <li class="tick-info">
                    <span class="fa fa-check" aria-hidden="true"></span>Dolore magna
                    aliqua
                  </li>
                  <li class="tick-info disable">
                    <span class="fa fa-times" aria-hidden="true"></span>Integer et augue
                  </li>
                </ul>
              </div>
              <div class="buy-button">
                <a href="login.html" class="button raised hoverable w-100 btn-normal">
                  <div class="anim"></div><span>Get Started</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-lg-0 mt-4 w3l-pricing-7-gd-left">
          <div class="w3l-pricing-7 pric-7-2">
            <div class="w3l-pricing-7-top">
              <h6>Exclusive</h6>
              <h3 class="title-sub"><label>$</label>395<span>/mo</span></h3>
            </div>
            <div class="w3l-pricing-7-bottom">
              <div class="w3l-pricing-7-bottom-bottom">
                <ul class="links">
                  <li class="tick-info">
                    <span class="fa fa-check" aria-hidden="true"></span>Ut enim ad
                    minim
                  </li>
                  <li class="tick-info">
                    <span class="fa fa-check" aria-hidden="true"></span>Quis nostrud
                    exerc
                  </li>
                  <li class="tick-info">
                    <span class="fa fa-check" aria-hidden="true"></span>Ullamco laboris
                    nisi ut
                  </li>
                  <li class="tick-info">
                    <span class="fa fa-check" aria-hidden="true"></span>Dolore magna
                    aliqua
                  </li>
                  <li class="tick-info">
                    <span class="fa fa-check" aria-hidden="true"></span>Integer et augue
                  </li>
                </ul>
              </div>
              <div class="buy-button">
                <a href="login.html" class="button raised hoverable w-100 btn-normal">
                  <div class="anim"></div><span>Get Started</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
        <!---728x90--->

    </div>
{% endblock %}