{% extends "header.html" %}
{% block content %}
 <!-- inner banner -->
 <section class="w3l-inner-banner-main">
   <div class="about-inner inner2">
     <div class="container seen-w3">
       <h3 class="inner-title">Team Single</h3>
       <ul class="breadcrumbs-custom-path">
         <li><a href="index.html">Home</a></li>
         <li><span class="fa fa-angle-right" aria-hidden="true"></span></li>
         <li class="active">Team Single</li>
       </ul>
     </div>
   </div>
 </section>
 <!-- //inner banner -->
 <div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
        <!---728x90--->

    </div>
<!-- team single -->
<section class="w3l-teams-single-9">
  <div class="team-single">
    <div class="container">
      <div class="row main-grid">
        <div class="col-md-4 team-grids-single">
          <img src="/static/images/team1.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-md-8 team-grids-single mt-md-0 mt-4">
          <h3 class="title-wthree-tem font-weight-bold">Chris Tina</h3>
          <p class="sub-title-top-3">Ipsum dolor</p>
          <p class="para">Suspendisse nec diam sit amet mauris bibendum sollicitudin. In libero nunc,
            feugiat
            laoreet nisi ac, rutrum venenatis felis. Nunc at accumsan diam hendrerit elit et.</p>
          <p class="para">Tincidunt lorem tempor vel. Suspendisse diam mauris,
            vehicula sed mi non, pellentesque elementum eros. Phasellus non quam non
            lacus bibendum vehicula non non massa. Sed hendrerit elit et felis aliquam mattis.</p>
          <ul class="left-single-team">
            <li><span>Tel: </span><a href="tel:+1-800-999-800">+1-800-999-800</a></li>
            <li><span>Mail: </span><a href="mailto:info@example.com">mail@example.com</a></li>
          </ul>
          <div class="footerv4-social d-flex align-items-center mt-2">
            <h6 class="team-txt mr-3">Stay Connected :</h6>
            <ul class="d-flex list-unstyled team-socials">
              <li>
                <a href="#team"><span class="fa fa-facebook-square" aria-hidden="true"></span></a>
              </li>
              <li>
                <a href="#team"><span class="fa fa-twitter-square" aria-hidden="true"></span></a>
              </li>
              <li>
                <a href="#team"><span class="fa fa-google-plus-square" aria-hidden="true"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row main-cont-wthree-3 mt-5">
        <div class="col-md-6 left-contect-real">
          <h3 class="title-head-con">Title goes here</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. At vero eos et accusamus et iusto odio dignissimos ducimus
            qui.
          </p>
          <p class="mt-4">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Nostrud exercitation ullamco laboris nis in voluptate velit esse cillum.</p>
        </div>
        <div class="col-md-6 left-contect-real mt-md-0 mt-5">
          <h3 class="title-head-con">Title goes here</h3>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur.</p>
          <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua.
            qui.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //team single -->
<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
        <!---728x90--->

    </div>
{% endblock %}